.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.lime {
    background: lightgreen;
}

.lime-text {
    color: darkslateblue;
}

.radio {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
}

.radio form {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.radio span {
    margin-bottom: 10px;
}
