.link {
    text-decoration: none;
    color: #002333;
    margin: 4px;
    font-size: 15px;
    font-weight: 700;
}

.link:hover {
    color: #DEEFE7;
}

.active {
    color: #159A9C;
}

.block {
    width: 21px;
    height: 21px;
    margin: 10px;
    background: #159A9C;
}

.header {
    display: flex;
    width: 280px;
    transition-duration: 500ms;
    transform: translate(-220px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}